{
  "name": "username/{{project_name}}",
  "description": "{{project_title}}",
  "license": "MIT",
  "homepage": "https://github.com/username/{{project_name}}/",
  "require": {
		"php": ">=5.6"
  },
  "config": {
		"sort-packages": true
  }
}
