{
  "name": "{{project_name}}",
  "version": "1.0.0",
  "description": "{{project_title}}",
  "main": "index.js",
  "main_file": "{{project_name}}.php",
  "repository": {
    "type": "git",
    "url": "https://github.com/username/{{project_name}}/"
  },
  "homepage": "https://github.com/username/{{project_name}}/",
  "browserslist": "> 1%, not dead",
  "keywords": [],
  "author": "",
  "license": "MIT"
}
