{
  "name": "{{project_name}}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "main_file": "{{project_name}}.php",
  "scripts": {
    "preinstall": "npx only-allow pnpm"
  },
  "browserslist": "> 1%, not dead",
  "keywords": [],
  "author": "",
  "license": "MIT"
}
